
@model Certification.Data.CustData

<div class="fa-cpanel panel-default">
    <div class="panel-heading">
        <h4>Логин студента: @Model.Login</h4>
        <h4>Группа обучающегося : @Model.Group</h4>
    </div>
    <div class="panel-body">
        <br />
        <h6> Предмет: @Model.Sub</h6>
        <h6> Оценка : @Model.Mark</h6>
        <h6> Номер месяца аттестации: @Model.DateCert</h6>

    </div>
</div>  